<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972590445230-qjb35qph3tvd7kr73h54ojna66rvr2h0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972590445230-qjb35qph3tvd7kr73h54ojna66rvr2h0</string>
	<key>API_KEY</key>
	<string>AIzaSyA8-QKCxmvMM4r_tmbQ0oCaw9xn3M1iCTE</string>
	<key>GCM_SENDER_ID</key>
	<string>972590445230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CashApp</string>
	<key>PROJECT_ID</key>
	<string>cashapp-6390b</string>
	<key>STORAGE_BUCKET</key>
	<string>cashapp-6390b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972590445230:ios:6221615b23e3abb8fef33f</string>
	<key>DATABASE_URL</key>
	<string>https://cashapp-6390b.firebaseio.com</string>
</dict>
</plist>